*{
  box-sizing: border-box;
  outline: 1px solid limegreen;
  font-family: 'Inter', sans-serif;
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;

 }


#navbar-pinterest {
   padding: 20px 10px;  /*  Dimensiones de la barra de navegacion  */
   margin-left: 2.5%;
   margin-right: 2.5%;
}

@media only screen and (max-width: 600px) {

  .barra-busqueda input{
    display: none;

  }
  .barra-busqueda{
    display: none;
  }

  .barra-busqueda i{
    display: none;
  }


}


.menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 5px 10px;  */
}


.btn {

text-decoration: none;
position: relative;
margin: 5px;
cursor: pointer;

}
.btn-pinterest{

  background-color: white;
  color: rgba(211, 7, 7, 0.829);
  border-color: white;
  border-radius: 200px;
  transition: transform 0.3s ease;
  padding: 10px 20px;
  font-size: 1.3em;

}

.btn-pinterest:hover{
  background-color:   rgb(233, 228, 228);
}

.btn-inicio{
  background-color: white;
  color: black;
  border-color:white;
  border-radius: 300px;
  transition: transform 0.3s ease;
  padding: 10px 20px;
  margin-left: .5%;
  margin-right: .5%;
}
.btn-inicio:hover{

  background-color:  black;
  color: white;
}

.btn-hoy{
  background-color: white;
  color: black;
  border-color: white;
  border-radius: 200px;
  transition: transform 0.3s ease;
  padding: 10px 20px;
  margin-left: .5%;
  margin-right: .5%;
}

/* Lista desplegable de CREAR */

.lista-desplegable-crear i{
  position: relative;  /* esto hizo que dejara de moverse todo el boton crear al dar click */

}

.lista-desplegable-crear ul{ /* modifica las dimensiones de los li de la lista*/

  padding: 12px ;
  border-radius: 12px;
}

.lista-desplegable-crear :hover .btn-crear {

  background-color:  white;
  color: black;
  /* border-radius: 5%; */
  display: flex;   /* este flex hizo que se alineara el icono con el li "crear" */

}


.lista-desplegable-crear li{ /* modifica todos los li incluidos en todo ul lista desplegable */

  position: relative; 
  list-style:none;
  display: inline-block;
  transition: transform 0.3s ease;
  background-color: white;
  color: black;
  border-color: white;
  cursor: pointer;

}


.lista-desplegable-crear li a {
  background-color:white;
  color:black;
  text-decoration:none;
  padding: 10px ;
  display:block; 
  border-radius: 12px;


}

.lista-desplegable-crear li a:hover {   /* esto le da estilo a las listas dentro del ul */
  background-color:white;
  color: black;
  border-color: white;
  transition: transform 0.3s ease;
  background-color:  rgb(233, 228, 228);

}

.lista-desplegable-crear li ul {
  position: absolute;
  right: 0; /* hace que no se pase a la derecha y se desplegue a la izquierda */
  display:none;
}

.lista-desplegable-crear li:hover > ul { /* hace que muestren los li dentro de ul cada que pasa el puntero encima */
  display:block;
  background-color:  white;  /* Esto cubrio el hueco que se formo en el listado */
  width: max(15vw, .8px); /* Esto hizo mas delgado el borde */

  }



/* BARRA DE BUSQUEDA */


.busqueda{
  padding:  15px 100px;
  border: 0;
  border-radius: 100px;
  background-color: rgb(233, 228, 228);

}

.barra-busqueda{
  position: relative;  /* Se alinea el icono con el input */

}
.barra-busqueda input{
  width: max(50vw, 0px);
  border: none;
  outline: none;
  margin-left: 2%;
  margin-right: .5%;


}

.barra-busqueda i{
  position: absolute;
  display: block;
  bottom: 1rem;
  left: 2rem;
}




 /* Diseño de Iconos  */

 #notifications{

  font-size: 1.3em;
  border-radius: 200px;
  padding: 10px 20px;
  margin-left: 1.5%;
  margin-right: .5%;
  cursor: pointer;
 }

 #notifications:hover{
  background-color:   rgb(233, 228, 228);
}


 #profile-img{

  font-size: 1.3em;
  border-radius: 200px;
  padding: 10px 20px;
  margin-left: .5%;
  margin-right: .5%;
  cursor: pointer;
 }
 #profile-img:hover{
  background-color:   rgb(233, 228, 228);
}

 #message{
  font-size: 1em;
  margin-left: .5%;
  margin-right: .5%;
  cursor: pointer;

 }

 #message .lista-desplegable-message  li i{
 border-radius: 250px;
 padding: 5px 5px;
 }


 #message i:hover{
  background-color:  rgb(233, 228, 228) ;
  }


  .lista-desplegable-message li:hover > ul { /* hace que muestren los li dentro de ul cada que pasa el puntero encima */
    display:block;
    background-color:  white;  /* Esto cubrio el hueco que se formo en el listado */
    width: max(15vw, .8px); /* Esto hizo mas delgado el bode */

  }


/* Aqui comienza el menu desplegable */


.lista-desplegable-message ul {
  border-radius: 12px;
  padding: 12px ;
}

.lista-desplegable-message  li{
  position: relative;
  list-style:none;
  display: inline-block;
}

.lista-desplegable-message  li a {
  background-color:white;
  color:black;
  text-decoration:none;
  padding: 10px;
  display:block;


}

/* esto le da estilo a las listas dentro del ul */

 .lista-desplegable-message li a:hover {
  background-color:white;
  text-decoration: underline;

}

.lista-desplegable-message   li ul {
  position: absolute;
  right: 0; /* hace que no se pase a la derecha y se desplegue a la izquierda */
  width: 150px;
  display:none;

}



 .lista-desplegable-message  li:hover > ul {
  display:block;

}

/* DISEÑO IMAGENES */


 #content{

    columns: 6 320px;
    column-gap: 0.8em;
 }

#content img{
  max-width: 100%;
  display: block;
  outline: 2px solid white;
  border-radius: 40px;
  position: relative;  
}

 .dm {

  text-decoration: none;
  position: relative; 
  margin: 10px;
  cursor: pointer;

  } 

  

.btn-dm :hover {
  display: none;
  background-color: aqua;
}



.card-image a{
  border-radius: 40px;
  color: white;
  position: absolute;
  background-color: rgba(211, 7, 7); 
  padding: 10px 10px;
  top: 0;
  right:0;
  margin-top: 40px;
  margin-right: 25px;
  /* display: none; */

}

.card-image:hover > img{
  filter: brightness(75%);  
  cursor: zoom-in;
}

.card-image :hover  a{
  background-color: rgb(143, 32, 32.0); 

}






