*{
  box-sizing: border-box;
  /* outline: 1px solid limegreen; */
  font-family: 'Inter', sans-serif;
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;
 }


#navbar-pinterest {
  width: 100%;
  align-content: center;
  margin-top: 15px;
  
}

.menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px; 


}

.btn {

text-decoration: none;
position: relative;
margin: 5px;

}
.btn-pinterest{

  background-color: white;
  color: rgba(230, 17, 17, 0.733);
  border-color: white;
  border-radius: 200px;
  transition: transform 0.3s ease;
  padding: 10px 20px;
 



}

.busqueda{
  padding:  10px 100px;
  border-color: rgb(121, 121, 121);
  border-radius: 100px;

}


.barra-busqueda{
  position: relative;  /* Se alinea el icono con el input */
  
}
.barra-busqueda input{
  width: max(50vw, 0px);

}

.barra-busqueda i{
  position: absolute;
  display: block;
  bottom: .8rem;
  left: 1rem;
}



.btn-hoy{
  background-color: white;
  color: black;
  border-color: white;
  border-radius: 200px;
  transition: transform 0.3s ease;
  padding: 10px 20px;

}


.btn-explorar{
  background-color: white;
  color: black;
  border-color: white;
  border-radius: 200px;
  transition: transform 0.3s ease;
  padding: 10px 20px;

}
.btn-inicio{
  background-color: rgba(175, 175, 175, 0.24);
  color: black;
  border-color:rgba(175, 175, 175, 0.24);
  border-radius: 200px;
  transition: transform 0.3s ease;
  padding: 10px 10px;

}

.btn-inicio:hover{

  background-color:  rgba(175, 175, 175, 0.397);
}


 .btn-registrar{
  background-color: rgba(230, 17, 17, 0.733);
  color: white;
  border-color:  rgba(230, 17, 17, 0.733);
  border-radius: 200px;
  transition: transform 0.3s ease;
  padding: 10px 20px;

 }

.btn-registrar:hover{
  background-color: rgb(230, 17, 17);
}

/* Aqui comienza e muenu desplegable */


.menu-desplegable i{
  color:rgb(90, 89, 89);


}

.menu-desplegable li{
  float: left;
  position: relative;
  list-style:none;
  display: inline-block;
}

.menu-desplegable li a {
  background-color:white;
  color:black;
  text-decoration:none;
  padding: 10px;
  display:block;


}

.menu-desplegable li a:hover {   /* esto le da estilo a las listas dentro del ul */
  background-color:white;
  text-decoration: underline;
}

.menu-desplegable li ul {
  position: absolute;
  right: 0; /* hace que no se pase a la derecha y se desplegue a la izquierda */
  width: 150px;
  display:none;
}

.menu-desplegable li ul li ul{
  position: absolute;
  top:0;
  right: 100px;
}

.menu-desplegable li:hover > ul {
  display:block;

}


 .titulo{
     padding: 40px 100px 40px 100px;  
     text-align: center;
     width: 100%;
     font-family: 'Fira Sans', sans-serif;
     font-size: x-large;
 }


 img {
     max-width: 100%;
     margin-bottom: 0.5em;
     display: block;
     outline: 2px solid white;
  

 }

 .estructura-imagenes{

    columns: 6 320px;
    column-gap: 0.5em;
 }


