*{
  box-sizing: border-box;
  outline: 1px solid limegreen; 
  font-family: 'Fira Sans', sans-serif;
  align-items: center; 
 }

 .barra-navegacion{

   justify-content: center; 
   align-items: center;  
  

}


/* AQUI INICIA EL ESTILO DE LOS BOTONES */

.botones{
display: flex;
flex-direction: row;
justify-content: center; 

}

.btn{
text-decoration: none;
position: relative;
margin: 10px;

}
.btn-pinterest{
 
  background-color: white;
  color: rgba(230, 17, 17, 0.733);
  border-color: white;
  border-radius: 200px;
  transition: transform 0.3s ease;
  padding: 10px 20px;

}


 .barra-busqueda i{
  position: absolute; /* Alinea el icono dentro del input */
  margin-left: 20px;
  top: 30px;
 }

.buscador{

  padding:  10px 200px;
  border-color: rgb(121, 121, 121);
  border-radius: 100px;
 
}

.barra-busqueda ::placeholder{
 
 font-size: medium;
 color: rgb(99, 94, 94);
 

}

.btn-hoy{
  background-color: white;
  color: black;
  border-color: white;
  border-radius: 200px;
  transition: transform 0.3s ease;
  padding: 10px 20px;
}


.btn-explorar{
  background-color: white;
  color: black;
  border-color: white;
  border-radius: 200px;
  transition: transform 0.3s ease;
  padding: 10px 20px;
}
.btn-inicio{
  background-color: rgba(175, 175, 175, 0.24);
  color: black;
  border-color:rgba(175, 175, 175, 0.24);
  border-radius: 200px;
  transition: transform 0.3s ease;
  padding: 10px 10px;
}

.btn-inicio:hover{

  background-color:  rgba(175, 175, 175, 0.397);
}


 .btn-registrar{
  background-color: rgba(230, 17, 17, 0.733);
  color: white;
  border-color:  rgba(230, 17, 17, 0.733);
  border-radius: 200px;
  transition: transform 0.3s ease;
  padding: 10px 20px;
 }

.btn-registrar:hover{
  background-color: rgb(230, 17, 17);
}







/* AQUI INICIA EL ESTILO DEL BOTON PINTEREST 

.boton-pinterest {
  width: 80px; height: 30px;
  margin: 20px ;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  border-color:rgb(255, 250, 250);
  cursor: pointer ;

 }

 .boton-pinterest p{
   display: inline;
   text-align: top;
   color: rgba(230, 12, 12, 0.836);
   line-height: 1.6em;
   font-size: medium;


 }
 .boton-pinterest i{
  display: inline;
  align-items:start;
  color:rgba(230, 12, 12, 0.836);
  line-height: 1.6em;
  size: 30px;

}*/



 .titulo{
     padding: 10px 200px 10px 200px;  /*Dimensiones "Explora lo mejor de Pinterest" */
     text-align: center;
     width: 100%;
     font-family: 'Fira Sans', sans-serif;
     font-size: x-large;
 }

 img {
     max-width: 100%;
     margin-bottom: 0.5em;
     display: block;
     outline: 2px solid white;

 }

 .estructura-imagenes{
     /* display: grid; */
     /* grid-template-columns: repeat(6, 1fr); */
     /* padding: 10px 200px 10px 200px;  */
    columns: 6 320px;
    column-gap: 0.5em;
 }


